<div class="container">
  <div class="navbar">
    <h3>{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'committees'}}View committees{{/link-to}} |
    {{#link-to 'bills'}}View recent bills{{/link-to}}</h3>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
